services:
  netflix:
    build:
      context: .
      dockerfile: ./Dockerfile.dev
    volumes:
      - .:/app
      - caddy_data:/data
      - caddy_config:/config
    ports:
      - "8095:80"
    environment:
      APP_ENV: ${APP_ENV:-dev}
    tty: true

volumes:
  caddy_data:
  caddy_config:
